<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head> {% block head %}
    <title> {% block title %} Capital Shipping manager {% endblock %}</title>
    {% endblock %}
    {% block head_scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    {% endblock %}
</head>
<body>
<h1> CAPITAL SHIPPING MANAGER </h1>

<br />
    <table id = "main_menu">
        <tr>
            <td>
                <button id="home_btn">Home</button>
            </td>
            <td>
                <button id="blog_btn">Blog</button>
            </td>
            <td>
                <button id="manage_voyages_btn">Manage voyages</button>
            </td>
            <td>
                <button id="create_new_voyage_btn">Create new voyage</button>
            </td>
            <td>
                <button id="contacts_btn">Contacts</button>
            </td>
        </tr>
    </table>

    <div id="container">

        {% block content %}
            Content of this page is here
        {% endblock %}

    </div>

<script type="text/javascript">
    $('#blog_btn').click(function(){
        window.open('/blog');
    })
</script>

</body>
</html>